html{
    font-family: courier;
    color:white ;
    background-color: #6a90ba;
}

h1{
    text-align:center;
    font-weight:bold;
    border: white double;
    font-size: 60px;
}

p{
    color: #ffc7c7;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}
ol{
    text-align: center;
    padding: 8px ;
}

.checkbox{
    padding: 8px;
    text-align: left ;
    line-height: 1.8;
    position: relative;
    left: 450px;
    
}



.submitbutton {
   color: black;
    background-color: pink ;
    border: dashed white 1px;
    text-decoration: none;
    font-family: sans-serif;
}

.submitbutton hover {
    font-weight: bold;
    color: white;
}

.placeholder {
    padding-left: 4px;
    padding-right: 4px;
}