<h1> To Do </h1>

<p>
    Things I need to do
   </p> 
   
  
    <ol>
 

<div id="button">
 <a href= '/todo/new' class="submitbutton"> Add To Do </a>


</div class= "placeholder">
<input type = "text" placeholder = "describe to do"

     
 </div>
 
 <div>
     <div class = "checkbox">
 <li> <input type = "checkbox"> go to the store</li>
 
 <li> <input type = "checkbox"> sleep</li>
 
 <li> <input type = "checkbox"> eat</li>
 
 <li> <input type = "checkbox"> history paper </li>
</div>


    <ol>