
        <div class="card">
 <input type="checkbox" name=""/>
 <h2> <%= @todo_description %></h2>
 <h3> <%= @todo_pomodoro_estimate %> pomodoros</h3>
 <span class="pomodoro-estimate large-pomodoro-estimate">   </span>
 <a href="#" class="button" id="edit-todo-button">Edit</a>
 <a href="#" class="button" id="delete-todo-button">Delete</a>
 <a href="index" class="simple-link">Go back...</a>
</div>

